/* home.css */
body {
    margin:40px; padding:0px;
    font-size:12px; font-weight:normal; font-family:Arial, sans-serif;
}

dl {
    
}
dl dt {
    font-size:140%;
}
dl dd {
    margin:5px 0px 40px 40px;
}

