/* GTUG */


body {
    margin:40px; padding:0px;
    font-size:12px; font-weight:normal; font-family:Arial, sans-serif;
}

a {
    color:#00C; text-decoration:none;
}
a:hover {
    text-decoration:underline;
}

input[type=text], input[type=password] {
    border:1px solid #CCCCCC; padding:2px;
}





/* List icon */
.l0 {
    background-repeat:no-repeat; background-position:left center; padding-left:20px;
}
.l1 { background-image:url("../img/list/l1.png");  }
.l2 { background-image:url("../img/list/l2.png");  }
.l3 { background-image:url("../img/list/l3.png");  }
.l4 { background-image:url("../img/list/l4.png");  }
.l5 { background-image:url("../img/list/l5.png");  }


/* Copyright */
div#copyright {
    position:fixed; bottom:10px; right:10px;
    color:#CCCCCC;
}
